li {list-style-type: none;}

li {


    border-radius: 4px;
    border-color: rgba(1, 255, 26, 0.986);
    padding: 10px 10px;
    border-width: 4px;
    width: 250px;

    text-align: center;5px
    
}

img { 
    
    width: 200px;
    border-radius: 5px;

}



button {

    width: 200px;
    border-radius: 4px;
    padding: 5px 5px;
    background-color: red;
    color: white;
    font-size: 500;
    margin: 10px;
}

.nameContainer  {
 display:flex;
 justify-content: space-around;

}


.heart {
    height: 20px;

    width: 20px;

    padding: 20px 20px;
    max-resolution: 10px;
    
    
}
.nameContainer{
    justify-self: center;
    width: 250px;
}